<div class="card rounded p-5">
  <h1>Posts</h1>

  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <p class="mt-3">
        <%= link_to "Show this post", post %>
      </p>
    <% end %>
  </div>
</div>

<div class="mt-3">
  <%= link_to "New post", new_post_path, class: "" %>
</div>
